/* Fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-dark: #363636;

  --basic-dark-gray: #464646;
  --basic-gray: #7e7e7e;
  --basic-light-gray: #e5e5e5;

  --basic-dark-gray-for-pagination: #D9D9D9;
  --basic-gray-for-pagination: #EBEBEB;

  --basic-white: #FFFFFF;

  --basic-dark-yellow: #f0c52e;
  --basic-yellow: #f7e296;
  --basic-green: #91c92f;

  --basic-pink: #f6dada;

  --gilroy-font-family: "Gilroy", Arial, sans-serif;
  --opensans-font-family: "Open Sans", Arial, sans-serif;
}

/* Global */

.page {
  height: 100%;
}

body {
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Navigation */

.main-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 44px;
  background-color: var(--basic-yellow);
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.main-header-logo {
  position: absolute;
  top: 20px;
}

.main-navigation ul,
.catalog-navigation ul,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-bottom: 50px;
}

.user-navigation {
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  column-gap: 60px;
}

.main-navigation a,
.catalog-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.main-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.main-navigation a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-navigation a:hover,
.user-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:focus,
.user-navigation a:focus {
  opacity: 0.3;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr;
  column-gap: 38px;
}

.site-navigation li:nth-child(3) {
  justify-self: end;
}

.catalog-navigation a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}

/* Slider */

.slider {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 292px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
}

.slider-item:nth-child(1) .slider-item-image {
  margin-top: 17px;
  margin-left: 89px;
}

.slider-item:nth-child(2) .slider-item-image {
  margin-top: 43px;
  margin-left: 116px;
}

.slider-item:nth-child(3) .slider-item-image {
  margin-top: 99px;
  margin-left: 30px;
}

.slider-item-container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
}

.slider-item-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-top: 110px;
  margin-bottom: 30px;
}

.slider-item-description {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}

.slider-item .button {
  margin-bottom: 51px;
}

.slider-item-specs tr {
  font-family: var(--gilroy-font-family);
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slider-item-specs tr:first-child {
  font-size: 13px;
  line-height: 15px;
}

.slider-item-specs tr:last-child {
  font-size: 36px;
  line-height: 42px;
}

/* Buttons */

.button {
  display: inline-block;
  width: 220px;
  height: 40px;
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  color: var(--basic-black);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 100;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  z-index: -1;
  background-color: var(--basic-dark-yellow);
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:focus {
  color: var(--basic-black-transparent-30);
}

/* Catalog sections */

.catalog-sections {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 84px;
}

.catalog-sections-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
}

.catalog-sections-item a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  position: relative;
}

.catalog-sections-item:nth-child(4) a {
  letter-spacing: normal;
}

.catalog-sections-item a::before {
  content: "";
  position: absolute;
  top: -198px;
  width: 160px;
  height: 160px;
  background-color: var(--basic-yellow);
}

.catalog-sections-item a::after {
  content: "";
  position: absolute;
  top: -198px;
  left: 0;
  width: 160px;
  height: 160px;
  background-image: url("../img/vr-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.catalog-sections-item:nth-child(2) a::after {
  background-image: url("../img/monopod-icon.svg");
}

.catalog-sections-item:nth-child(3) a::after {
  background-image: url("../img/action-camera-icon.svg");
}

.catalog-sections-item:nth-child(4) a::after {
  background-image: url("../img/fitness-bracelet-icon.svg");
}

.catalog-sections-item:nth-child(5) a::after {
  background-image: url("../img/smart-watch-icon.svg");
}

.catalog-sections-item:nth-child(6) a::after {
  background-image: url("../img/quadrocopter-icon.svg");
}

.catalog-sections-item a:focus {
  color: var(--basic-black-transparent-30);
}

.catalog-sections-item a:hover::before,
.catalog-sections-item a:focus::before {
  background-color: var(--basic-dark-yellow);
}

.catalog-sections-item a:focus::after {
  opacity: 0.3;
}

/* Features */

.features {
  background-image: linear-gradient(to bottom,
    transparent,
    transparent 100px,
    var(--basic-light-gray) 100px,
    var(--basic-light-gray));
  margin-bottom: 90px;
}

.feature-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.features-buttons-list,
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-buttons-list {
  width: 284px;
  height: 320px;
  border-right: 7px solid var(--basic-black);
  padding-top: 80px;
}

.feature-button {
 width: 160px;
}

.features-buttons-list li:nth-child(1) {
  padding-bottom: 21px;
}

.features-buttons-list li:nth-child(2) {
  padding-bottom: 22px;
}

.feature-button:focus {
  color: var(--basic-yellow);
}

.feature-button:focus::before {
  background-color: var(--basic-black);
  width: 284px;
}

.feature-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.feature-description {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.features-list {
  margin-left: 116px;
}

.feature-title {
  padding: 0;
  margin: 0;
  margin-top: 71px;
  margin-bottom: 40px;
}

.feature-item {
  position: relative;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/delivery-icon.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/warranty-icon.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/credit-icon.svg");
}

/* Companies logos */

.companies-logos {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.companies-logos-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 40px;
}

.companies-logos-list img {
  background-color: var(--basic-light-gray);
  filter: grayscale(100%);
  opacity: 0.2;
}

.companies-logos-list img:hover {
  filter: none;
  opacity: 1;
}

/* About us and Contacts */

.info-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 77px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.about-us,
.contacts {
  padding-top: 57px;
}

.about-us h2,
.contacts h2 {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.about-us p,
.contacts p {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.about-us ul {
  list-style-type: circle;
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  color: var(--basic-black);
  padding: 20px 0 0 15px;
  margin: 0;
  margin-bottom: 42px;
}

.about-us li {
  padding-left: 17px;
  padding-bottom: 20px;
}

.contacts img {
  background-color: var(--basic-light-gray);
  margin-bottom: 76px;
}

.info-container .button {
  min-width: 260px;
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
  padding-top: 46px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

/* Footer navigation */

.footer-navigation {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 53px;
  margin-bottom: 39px;
}

.footer-logo {
  align-self: flex-end;
}

.footer-user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: max-content repeat(2, 1fr);
  column-gap: 60px;
}

.footer-user-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: max-content min-content;
  column-gap: 24px;
}

.footer-user-navigation a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  color: var(--basic-white);
  opacity: 1;
}

.footer-user-navigation a:focus {
  opacity: 0.3;
}

/* Footer contacts */

.footer-contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  margin-bottom: 66px;
}

.contacts-address {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-white);
  align-self: center;
}

.contacts-phone,
.contacts-phone a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  text-decoration: none;
}

.contacts-phone {
  justify-self: end;
  align-self: center;
}

/* Footer features */

.footer-features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 36px;
  align-self: center;
}

.footer-features-list a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-features-list a:hover {
  opacity: 0.6;
}

.footer-features-list a:focus {
  opacity: 0.3;
}

/* Footer social */

.footer-social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 65px;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 20px;
  justify-self: center;
  align-self: center;
}

.social-button {
  color: var(--basic-white);
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:focus {
  opacity: 0.1;
}

.footer-copyright {
  justify-self: end;
}

/* Inner page */

.user-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: max-content min-content;
  column-gap: 20px;
}

.logout-link {
  opacity: 0.3;
}

.page-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black);
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
}

/* Sort */

.sort-container {
  background-color: var(--basic-light-gray);
}

.sort-title {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
}

.sort-list a {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:focus {
  opacity: 1;
}

.sort-list .sort-button {
  opacity: 0.2;
}

.sort-list .sort-button:hover {
  opacity: 0.4;
}

.sort-list .sort-current,
.sort-list .sort-button:focus {
  opacity: 1;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item-image {
  background-color: var(--basic-light-gray);
}

.catalog-item-name {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-item-price {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.add-to-compare-link {
  font-family: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
  z-index: 1;
}

.add-to-compare-link:hover {
  opacity: 1;
}

.add-to-compare-link:focus {
  opacity: 0.2;
}

.catalog-item {
  position: relative;;
}

.catalog-item-buttons {
  position: absolute;
  top: 180px;
  left: 90px;
  display: none;
  text-align: center;
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item:hover .catalog-item-buttons {
  display: block;
}

/* Pagination */

.pagination-list {
  list-style: none;
  background-color: var(--basic-gray-for-pagination);
}

.pagination-item a {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:focus,
.pagination-item-current a {
  opacity: 1;
}

.pagination-back a,
.pagination-forward a {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-back a:hover,
.pagination-forward a:hover {
  background-color: var(--basic-dark-gray-for-pagination);
}

.pagination-back a:focus,
.pagination-forward a:focus {
  background-color: var(--basic-dark-gray-for-pagination);
  color: var(--basic-black-transparent-30);
}
