/* Fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-transparent-60: rgba(0, 0, 0, 0.6);
  --basic-black-transparent-40: rgba(0, 0, 0, 0.4);
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-black-transparent-20: rgba(0, 0, 0, 0.2);
  --basic-black-transparent-18: rgba(0, 0, 0, 0.18);
  --basic-black-transparent-15: rgba(0, 0, 0, 0.15);
  --basic-dark: #363636;

  --basic-dark-gray: #464646;
  --basic-gray: #7e7e7e;
  --basic-light-gray: #e5e5e5;

  --basic-dark-gray-for-pagination: #D9D9D9;
  --basic-gray-for-pagination: #EBEBEB;

  --basic-gray-for-filter: #DCDCDC;
  --basic-gray-for-toggle: #C4C4C4;

  --basic-light-gray-for-input: #F2F2F2;
  --basic-gray-for-input: #EAEAEA;
  --basic-gray-for-disabled-input: #A6A6A6;

  --basic-white: #FFFFFF;
  --basic-white-transparent-70: rgba(255, 255, 255, 0.7);
  --basic-white-transparent-30: rgba(255, 255, 255, 0.3);

  --basic-dark-yellow: #f0c52e;
  --basic-dark-yellow-transparent-50: rgba(240, 197, 46, 0.5);
  --basic-dark-yellow-transparent-30: rgba(240, 197, 46, 0.3);
  --basic-dark-yellow-for-icon: #FFC600;
  --basic-yellow: #f7e296;

  --basic-green: #91c92f;

  --basic-pink: #f6dada;

  --gilroy-font-family: "Gilroy", Arial, sans-serif;
  --opensans-font-family: "Open Sans", Arial, sans-serif;
}

/* Global */

.page {
  height: 100%;
}

body {
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation */

.main-header {
  width: 1160px;
  min-height: 154px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 29px;
  background-color: var(--basic-yellow);
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.main-header-logo {
  position: absolute;
  top: 20px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
}

.user-navigation li {
  margin-right: 40px;
}

.user-navigation .search-item {
  width: 500px;
}

.search-form {
  width: 440px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.search-form:focus-within {
  border-bottom: 2px solid var(--basic-black);
}

.search-form:focus-within .search-form-button {
  display: block;
}

.search-form label::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: text;
}

.search-form-input {
  width: min-content;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black-transparent-30);
  background-color: transparent;
  align-self: start;
  padding: 16px 38px 12px 38px;
  outline: none;
  border: none;
}

.search-form-input:hover {
  color: var(--basic-black-transparent-60);
}

.search-form-input:focus {
  flex-grow: 1;
  color: var(--basic-black);
}

.search-form-button {
  display: none;
  min-width: 84px;
  height: 50px;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: auto;
  outline: none;
  border: 2px solid var(--basic-black);
  border-bottom: none;
}

.search-form-button:hover,
.search-form-button:focus {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form-button:active {
  display: block;
  color: var(--basic-white-transparent-30);
}

.login-link,
.profile-link {
  position: relative;
  padding-left: 24px;
}

.login-link-icon,
.profile-link-icon {
  position: absolute;
  top: 4px;
  left: 0;
}

.user-navigation-link:hover .link-icon,
.user-navigation-link:focus .link-icon {
  opacity: 0.6;
}

.user-navigation-link:active .link-icon {
  opacity: 0.3;
}

.user-navigation .compare-item {
  margin-left: auto;
  margin-right: 43px;
}

.compare-link {
  position: relative;
  padding-left: 26px;
}

.compare-link-icon {
  position: absolute;
  top: 4px;
  left: 0;
}

.user-navigation .cart-item {
  margin-right: 0;
}

.cart-link {
  position: relative;
  padding-left: 22px;
}

.cart-link-icon {
  position: absolute;
  top: 5px;
  left: 0;
}

.navigation a {
  color: var(--basic-black);
}

.site-navigation a {
  width: min-content;
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--basic-black-transparent-60);
}

.navigation a:active {
  color: var(--basic-black-transparent-30);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation > li {
  margin-right: 40px;
  padding-bottom: 5px;
}

.site-navigation .catalog-link {
  width: 255px;
  margin-right: 285px;
}

.site-navigation .catalog-link:hover {
  width: 500px;
  margin-right: 40px;
}

.catalog-link > a {
  position: relative;
  padding-right: 35px;
}

.catalog-link > a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.site-navigation .delivery-link {
  margin-right: 35px;
}

.site-navigation .contacts-link {
  margin-left: auto;
  margin-right: -0.2em;
}

.catalog-navigation {
  width: 1160px;
  min-height: 145px;
  background-color: var(--basic-yellow);
  position: absolute;
  top: 180px;
  margin: 0;
  margin-left: -60px;
  padding: 26px 60px 42px 60px;
  display: none;
  z-index: 100;
}

.catalog-link:hover .catalog-navigation,
.catalog-link:focus-within .catalog-navigation {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas:
  "vr fb qc"
  "mp sw ."
  "ac . .";
  row-gap: 16px;
  column-gap: 64px;
}

.virtual-reality-link {
  grid-area: vr;
}

.monopod-link {
  grid-area: mp;
}

.action-camera-link {
  grid-area: ac;
}

.fintess-bracelet-link {
  grid-area: fb;
}

.smart-watch-link {
  grid-area: sw;
}

.quadrocopter-link {
  grid-area: qc;
  margin-left: -1px;
}

.catalog-navigation a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}

/* Slider */

.slider {
  width: 1160px;
  min-height: 528px;
  margin: 0 auto;
  margin-bottom: 94px;
  background-image: linear-gradient(to bottom,
    var(--basic-yellow),
    var(--basic-yellow) 146px,
    transparent 146px,
    transparent);
  position: relative;
}

.slider-list {
  min-height: 528px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-item.item-current {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.slider-item-image[src=""] {
  background-color: var(--basic-light-gray);
}

.slider-item-monopod .slider-item-image {
  margin-top: 17px;
  margin-left: 89px;
}

.slider-item-fitness-bracelet .slider-item-image {
  margin-top: 43px;
  margin-left: 116px;
}

.slider-item-quadrocopter .slider-item-image {
  margin-top: 99px;
  margin-left: 30px;
}

.slider-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 110px;
}

.slider-item-container::before {
  content: "";
  position: absolute;
  top: 51px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.slider-item-container::after {
  content: "";
  width: 212px;
  height: 170px;
  position: absolute;
  top: 0;
  right: 47px;
  font-family: var(--gilroy-font-family);
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: start;
  color: var(--basic-white);
  z-index: 1;
}

.slider-item-monopod .slider-item-container::after {
  content: "01";
  text-align: end;
}

.slider-item-fitness-bracelet .slider-item-container::after {
  content: "02";
}

.slider-item-quadrocopter .slider-item-container::after {
  content: "03";
}

.slider-item-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  z-index: 2;
}

.slider-item-description {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}

.slider-list .button {
  margin-bottom: 51px;
}

.slider-buttons-container {
  width: 72px;
  height: 12px;
  position: absolute;
  right: 88px;
  bottom: 159px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.slider-button.button-current::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
}

.slider-item-specs {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 62px;
  row-gap: 15px;
}

.slider-item-quadrocopter .slider-item-specs {
  column-gap: 64px;
}

.slider-item-specs dt {
  font-family: var(--gilroy-font-family);
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  grid-row: 2 / 3;
}

.slider-item-specs dd {
  font-family: var(--gilroy-font-family);
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  margin: 0;
  grid-row: 1 / 2;
}

/* Buttons */

.button {
  display: inline-block;
  width: 220px;
  min-height: 40px;
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 99;
  border: none;
  padding: 9px 0 9px 0.2em;
  margin: 0;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 20%;
  z-index: -1;
  background-color: var(--basic-dark-yellow);
}

.button:hover::before,
.button:focus::before,
.button:active::before {
  height: 100%;
}

.button:active {
  color: var(--basic-black-transparent-30);
}

/* Catalog sections */

.catalog-sections {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.catalog-sections-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalog-sections-list li {
  margin-bottom: 40px;
  margin-right: 40px;
}

.catalog-sections-list li:nth-child(6n) {
  margin-right: 0;
}

.catalog-sections-item {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
}

.catalog-sections-item-fitness-bracelet {
  letter-spacing: normal;
}

.catalog-sections-item-icon {
  width: 160px;
  height: 160px;
  background-color: var(--basic-yellow);
  position: relative;
  margin-bottom: 38px;
}

.catalog-sections-item-title {
  width: 160px;
  padding: 0;
  margin: 0;
}

.catalog-sections-item .catalog-sections-item-icon::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-image: url("../img/vr-icon.svg");
  background-position: 31px 52px;
  background-repeat: no-repeat;
}

.catalog-sections-item-monopod .catalog-sections-item-icon::before {
  background-image: url("../img/monopod-icon.svg");
  background-position: 37px 26px;
}

.catalog-sections-item-action-camera .catalog-sections-item-icon::before {
  background-image: url("../img/action-camera-icon.svg");
  background-position: 44px 36px;
}

.catalog-sections-item-fitness-bracelet .catalog-sections-item-icon::before {
  background-image: url("../img/fitness-bracelet-icon.svg");
  background-position: 27px 48px;
}

.catalog-sections-item-smart-watch .catalog-sections-item-icon::before {
  background-image: url("../img/smart-watch-icon.svg");
  background-position: 52px 31px;
}

.catalog-sections-item-quadrocopter .catalog-sections-item-icon::before {
  background-image: url("../img/quadrocopter-icon.svg");
  background-position: 14px 46px;
}

.catalog-sections-item:active {
  color: var(--basic-black-transparent-30);
}

.catalog-sections-item:hover .catalog-sections-item-icon,
.catalog-sections-item:focus .catalog-sections-item-icon {
  background-color: var(--basic-dark-yellow);
}

.catalog-sections-item:active .catalog-sections-item-icon::before {
  opacity: 0.3;
}

/* Features */

.features {
  min-height: 388px;
  background-image: linear-gradient(to bottom,
    transparent,
    transparent 100px,
    var(--basic-light-gray) 100px,
    var(--basic-light-gray));
  padding-bottom: 68px;
  margin-bottom: 90px;
}

.feature-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.features-buttons-list,
.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-buttons-list {
  width: 284px;
  min-height: 320px;
  border-right: 7px solid var(--basic-black);
  padding-top: 80px;
  padding-bottom: 57px;
}

.feature-button {
  width: 160px;
  margin-bottom: 21px;
}

.feature-button:active,
.feature-button.button-current {
  color: var(--basic-yellow);
}

.feature-button:active::before,
.feature-button.button-current::before {
  width: 284px;
  height: 100%;
  background-color: var(--basic-black);
}

.feature-title {
  max-width: 600px;
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.feature-description {
  max-width: 600px;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.features-list {
  margin-left: 116px;
}

.feature-title {
  padding: 0;
  margin: 0;
  margin-top: 71px;
  margin-bottom: 40px;
}

.feature-item {
  display: none;
  position: relative;
  z-index: 1;
}

.feature-item.item-current {
  display: block;
}

.feature-item-delivery::before {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.feature-item-warranty::before {
  content: "";
  position: absolute;
  top: -18px;
  right: -16px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty-icon.svg");
  background-position: top right;
  background-repeat: no-repeat;
  z-index: -1;
}

.feature-item-credit::before {
  content: "";
  position: absolute;
  top: -23px;
  right: 8px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit-icon.svg");
  background-position: top right;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Companies logos */

.companies-logos {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.companies-logos-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.companies-logos-list li {
  width: 260px;
  height: 100px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.companies-logos-list li:nth-child(4) {
  margin-right: 0;
}

.company-link {
  display: flex;
  width: 260px;
  height: 100px;
}

.company-link img {
  width: 260px;
  height: 100px;
  filter: grayscale(100%);
  opacity: 0.2;
}

.company-link img[src=""] {
  background-color: var(--basic-light-gray);
}

.company-link:hover img,
.company-link:focus img {
  filter: none;
  opacity: 1;
}

/* About us and Contacts */

.info-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 76px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.about-us,
.contacts {
  min-height: 590px;
  padding-top: 57px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us h2,
.contacts h2 {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.about-us p,
.contacts p {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.about-us ul {
  list-style: none;
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.about-us li {
  height: 22px;
  padding-left: 32px;
  margin-bottom: 20px;
  position: relative;
}

.about-us li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-light-gray);
  border-radius: 50%;
}

.contacts .map-button {
  display: block;
  width: 560px;
  height: 222px;
  background-color: var(--basic-light-gray);
}

.contacts img {
  width: 560px;
  height: 222px;
  background-color: var(--basic-light-gray);
  margin-bottom: 40px;
}

.info-container .button {
  min-width: 260px;
  margin-top: auto;
}

.about-us .button {
  padding-left: 0.3em;
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
  padding-top: 46px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

/* Footer navigation */

.footer-navigation {
  display: flex;
  min-height: 53px;
  margin-bottom: 39px;
}

.footer-logo {
  width: 163px;
  height: 35px;
  align-self: flex-end;
  margin-right: auto;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-navigation {
  align-self: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.footer-user-navigation li {
  margin-right: 40px;
}

.footer-user-navigation a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white-transparent-70);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: var(--basic-white);
}

.footer-user-navigation a:active {
  color: var(--basic-white-transparent-30);
}

.footer-user-navigation .profile-item {
  margin-right: 24px;
}

.footer-user-navigation .profile-link {
  padding-left: 25px;
}

.footer-user-navigation .logout-item {
  margin-right: 38px;
}

.footer-user-navigation .compare-item {
  margin-right: 43px;
}

.footer-user-navigation .compare-link-icon {
  top: 5px;
  left: 2px;
}

.footer-user-navigation .cart-item {
  margin-right: 0;
}

/* Footer contacts */

.footer-contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  margin-bottom: 50px;
  padding-top: 1px;
}

.contacts-address {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-white);
}

.contacts-phone,
.contacts-phone a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  text-decoration: none;
}

.contacts-phone {
  padding: 0;
  margin: 0;
  justify-self: end;
}

.footer-features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 36px;
  align-self: center;
  margin-top: -1px;
}

.footer-features-list li {
  margin-bottom: 16px;
}

.footer-features-list a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-right: -0.2em;
}

.footer-features-list a:hover,
.footer-features-list a:focus {
  opacity: 0.6;
}

.footer-features-list a:active {
  opacity: 0.3;
}

/* Footer social */

.footer-social {
  min-height: 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 64px;
  position: relative;
}

.footer-social::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-dark-yellow-for-icon);
}

.social-buttons-list {
  list-style: none;
  padding: 0;
  padding-top: 1px;
  margin: 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 20px;
  justify-self: center;
}

.social-buttons-list li {
  margin-bottom: 14px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
}

.social-button-facebook {
  background-image: url("../img/facebook-icon.svg");
}

.social-button-instagram {
  background-image: url("../img/instagram-icon.svg");
}

.social-button-twitter {
  background-image: url("../img/twitter-icon.svg");
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-copyright {
  display: block;
  width: 27px;
  height: 34px;
  justify-self: end;
}

.footer-copyright img[src=""] {
  background-color: var(--basic-light-gray);
}

.footer-copyright:hover,
.footer-copyright:focus {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 100px;
  right: 0;
  border: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}

.modal-current {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-write-us {
  width: 960px;
  min-height: 550px;
  padding-top: 92px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px var(--basic-black-transparent-15);
}

.write-us-form {
  width: 760px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 32px;
}

.write-us-form p {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 10px;
}

.write-us-input {
  font-family: var(--opensans-font-family);
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: var(--basic-black-transparent-40);
  background-color: var(--basic-light-gray-for-input);
  border: 2px solid var(--basic-light-gray-for-input);
}

.write-us-textarea {
  width: 760px;
  height: 167px;
  resize: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 13px;
}

.write-us-input:hover {
  background-color: var(--basic-gray-for-input);
  border-color: var(--basic-gray-for-input);
}

.write-us-input:focus {
  color: var(--basic-dark);
  background-color: transparent;
  border-color: var(--basic-yellow);
  outline: none;
}

.write-us-input:invalid {
  color: var(--basic-black-transparent-40);
  background-color: var(--basic-pink);
}

.write-us-form .button {
  width: 200px;
  padding-left: 0.1em;
  margin-bottom: 32px;
  grid-column: 1 / 2;
}

.write-us-form .button::before {
  background-color: var(--basic-yellow);
}

.write-us-form label {
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url("../img/close-icon.svg");
  background-position: 18px 18px;
  background-repeat: no-repeat;
  background-color: var(--basic-dark-yellow-transparent-50);
  padding: 0;
  margin: 0;
  border: none;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--basic-dark-yellow);
}

.modal-close:active {
  background-color: var(--basic-dark-yellow-transparent-30);
}

.modal-map {
  width: 961px;
  height: 559px;
  box-shadow: 0px 10px 16px var(--basic-black-transparent-15);
}

.modal-map iframe {
  border: none;
}

.modal-map .modal-close {
  top: 22px;
  right: 19px;
}

/* Inner page */

.inner-page-body .main-header {
  height: 186px;
}

.user-navigation .profile-item {
  margin-right: 21px;
}

.user-navigation .logout-link {
  opacity: 0.3;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: repeat(3, min-content) 1fr;
  padding-top: 44px;
}

.inner-page-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black);
  width: 1160px;
  padding-left: 60px;
  margin: auto;
  margin-bottom: 30px;
  grid-column: 2 / -2;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  width: 1160px;
  padding-left: 60px;
  margin: auto;
  margin-bottom: 50px;
  grid-column: 2 / -2;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3px;
  right: -26px;
  background-image: url(../img/arrow-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs li,
.breadcrumbs a {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black-transparent-30);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/* Catalog header */

.catalog-header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
}

.filter-title-container {
  background-color: var(--basic-gray-for-filter);
  min-height: 70px;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 328px;
  align-items: center;
}

.filter-title {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  grid-column: 2 / -1;
  padding: 0;
  padding: 10px 60px;
  margin: 0;
}

.sort-menu-container {
  background-color: var(--basic-light-gray);
  grid-column: 3 / -1;
  display: grid;
  grid-template-columns: 832px 1fr;
  grid-template-rows: min-content;
}

.sort-menu {
  min-height: 70px;
  padding: 10px 0 10px 72px;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.sort-title {
  width: 200px;
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.sort-list {
  width: 500px;
}

.sort-list,
.sort-buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sort-list li:not(:last-child) {
  margin-right: 30px;
}

.sort-buttons-list {
  position: relative;
  margin-left: auto;
}

.sort-buttons-list li:not(:last-child) {
  margin-right: 34px;
}

.sort-list a {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-button {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 70px;
  font-weight: normal;
  color: var(--basic-black);
  opacity: 0.2;
}

.sort-button::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -10px;
  right: 0;
  background-image: url(../img/sort-arrow-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.sort-out-of-order::before {
  right: 34px;
}

.sort-in-order::before {
  transform: rotate(180deg);
}

.sort-buttons-list .sort-button:hover,
.sort-buttons-list .sort-button:focus {
  opacity: 0.4;
  outline: none;
}

.sort-list a:active,
.sort-list .sort-current,
.sort-buttons-list .sort-button:active,
.sort-buttons-list .sort-current {
  opacity: 1;
}

/* Filter */

.filter-container {
  background-color: var(--basic-light-gray);
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 328px;
  grid-template-rows: min-content 1fr;
}

.filter {
  grid-column: 2 / -1;
  padding-left: 60px;
  padding-top: 70px;
  width: 200px;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-item legend {
  width: 200px;
  font-family: var(--gilroy-font-family);
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  padding-top: 14px;
  margin-bottom: 30px;
  border-top: 2px solid var(--basic-black);
}

.range-controls {
  position: relative;
  height: 44px;
  margin-bottom: 38px;
  padding-top: 9px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-black-transparent-20);
}

.range-controls .bar {
  width: 122px;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.toggle-max {
  left: 97px;
}

.toggle-button {
  width: 20px;
  height: 20px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-gray-for-toggle);
  box-shadow: 0px 2px 2px var(--basic-black-transparent-18);
  margin-bottom: 8px;
  cursor: pointer;
}

.toggle-max .toggle-button {
  margin-left: 17px;
}

.toggle-button:focus {
  box-shadow: 0 0 0 2px var(--basic-black);
  outline: none;
}

.toggle label {
  font-family: var(--gilroy-font-family);
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: var(--basic-black);
}

.toggle input {
  width: 55px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  appearance: textfield;
}

.filter-item ul {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  list-style: none;
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: var(--basic-black);
}

.filter-option {
  padding-left: 42px;
  margin-bottom: 15px;
}

.filter-option.filter-radio {
  padding-left: 40px;
  margin-bottom: 16px;
}

.filter-option.filter-checkbox:last-child,
.filter-option.filter-radio:last-child {
  margin-bottom: 0;
}

.filter-option label {
  width: 160px;
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -40px;
  width: 20px;
  height: 21px;
  background-image: url("../img/check-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-input:hover + label::before,
.filter-input:hover + label::after {
  opacity: 0.6;
}

.filter-input:focus + label::before {
  box-shadow: 0 0 0 2px var(--basic-black);
}

.filter-input:active + label::before,
.filter-input:active + label::after {
  opacity: 1;
}

.filter-input:disabled + label {
  color: var(--basic-gray-for-disabled-input);
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.25;
}

.filter-button {
  padding-right: 7px;
  margin-top: 4px;
  width: 200px;
}

/* Catalog */

.catalog {
  grid-column: 3 / -1;
  display: grid;
  grid-template-columns: 832px 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-list {
  list-style: none;
  margin: 0;
  margin-bottom: -8px;
  padding-top: 70px;
  padding-left: 72px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.new-catalog-item::before {
  content: "new";
  font-family: var(--gilroy-font-family);
  font-size: 12px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black-transparent-30);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  background-color: transparent;
  border: 2px solid var(--basic-black-transparent-30);
  border-radius: 50%;
}

.catalog-item-image {
  order: -1;
  object-fit: contain;
  width: 360px;
  height: 380px;
  margin-bottom: 30px;
  background-color: var(--basic-light-gray);
}

.catalog-item-name {
  width: 270px;
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.catalog-item-name a {
  color: var(--basic-black);
}

.catalog-item-price {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.catalog-item-buttons {
  position: absolute;
  top: 170px;
  left: 77px;
  display: none;
  text-align: center;
}

.add-to-cart-link {
  width: 200px;
  margin-bottom: 13px;
}

.add-to-compare-link {
  font-family: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
  z-index: 1;
}

.add-to-compare-link:hover,
.add-to-compare-link:focus {
  opacity: 1;
}

.add-to-compare-link:active {
  opacity: 0.2;
}

.catalog-item:hover img,
.catalog-item:focus img {
  opacity: 0.7;
}

.catalog-item:hover .catalog-item-buttons,
.catalog-item:focus-within .catalog-item-buttons {
  display: flex;
  flex-direction: column;
}

/* Pagination */

.pagination {
  width: 760px;
  min-height: 70px;
  margin: 0 0 78px 72px;
  background-color: var(--basic-gray-for-pagination);
  grid-column: 1 / 2;
  grid-row: 3 / -1;
  display: flex;
  align-items: center;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -1px;
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  margin-right: 29px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination a {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: var(--basic-black-transparent-30);
  text-transform: uppercase;
}

.pagination a:hover,
.pagination a:focus {
  color: var(--basic-black-transparent-60);
}

.pagination a:active,
.pagination-item-current a {
  color: var(--basic-black);
}

.pagination .pagination-button {
  display: block;
  width: 120px;
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.pagination .pagination-button-back {
  margin-right: auto;
  padding: 25px 10px 25px 10px;
}

.pagination .pagination-button-forward {
  margin-left: auto;
  padding: 25px 12px 25px 10px;
}

.pagination .pagination-button:hover,
.pagination .pagination-button:focus {
  background-color: var(--basic-dark-gray-for-pagination);
}

.pagination .pagination-button:active {
  background-color: var(--basic-dark-gray-for-pagination);
  color: var(--basic-black-transparent-30);
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
