/* Fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-dark: #363636;

  --basic-dark-gray: #464646;
  --basic-gray: #7e7e7e;
  --basic-light-gray: #e5e5e5;

  --basic-dark-gray-for-pagination: #D9D9D9;
  --basic-gray-for-pagination: #EBEBEB;

  --basic-white: #FFFFFF;

  --basic-dark-yellow: #f0c52e;
  --basic-yellow: #f7e296;
  --basic-green: #91c92f;

  --basic-pink: #f6dada;

  --gilroy-font-family: "Gilroy", Arial, sans-serif;
  --opensans-font-family: "Open Sans", Arial, sans-serif;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Navigation */

.main-header {
  background-color: var(--basic-yellow);
}

.site-navigation,
.sub-site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.sub-site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sub-site-navigation a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;
}

.site-navigation a:hover,
.user-navigation a:hover {
  opacity: 0.6;
}

.site-navigation a:focus,
.user-navigation a:focus {
  opacity: 0.3;
}

/* Slider */

.slider-list {
  list-style: none;
}

.slider-item-image img {
  background-color: var(--basic-light-gray);
}

.slider-item-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black);
}

/* Buttons */

.button {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 100;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 30%;
  z-index: -1;
  background-color: var(--basic-dark-yellow);
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:focus {
  color: var(--basic-black-transparent-30);
}

.slider-item-specs tr {
  font-family: var(--gilroy-font-family);
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slider-item-specs tr:first-child {
  font-size: 13px;
  line-height: 15px;
}

.slider-item-specs tr:last-child {
  font-size: 36px;
  line-height: 42px;
}

/* Catalog sections */

.catalog-sections-list {
  list-style: none;
}

.catalog-sections-item a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-sections-item a:focus {
  opacity: 0.3;
}

/* Features */

.features {
  background-color: var(--basic-light-gray);
}

.features-buttons-list,
.features-list {
  list-style: none;
}

.feature-button:focus {
  color: var(--basic-yellow);
}

.feature-button:focus::before {
  background-color: var(--basic-black);
}

.feature-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.feature-description {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

/* Companies logos */

.companies-logos-list {
  list-style: none;
}

.companies-logos-list img {
  background-color: var(--basic-light-gray);
}

/* About us and Contacts */

.about-us h2,
.contacts h2 {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: var(--basic-black);
}

.about-us p,
.contacts p {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.about-us ul {
  list-style-type: circle;
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  color: var(--basic-black);
}

.contacts img {
  background-color: var(--basic-light-gray);
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
}

/* Footer navigation */

.footer-user-navigation {
  list-style: none;
}

.footer-user-navigation a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-user-navigation a:hover {
  color: var(--basic-white);
  opacity: 1;
}

.footer-user-navigation a:focus {
  opacity: 0.3;
}

/* Footer contacts */

.contacts-address {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-white);
}

.contacts-phone,
.contacts-phone a {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  text-decoration: none;
}

/* Footer features */

.footer-features-list {
  list-style: none;
}

.footer-features-list a {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-features-list a:hover {
  opacity: 0.6;
}

.footer-features-list a:focus {
  opacity: 0.3;
}

.footer-social ul {
  list-style: none;
}

/* Footer social */

.social-button {
  color: var(--basic-white);
  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:focus {
  opacity: 0.1;
}

/* Inner page */

.logout-link {
  opacity: 0.3;
}

.page-title {
  font-family: var(--gilroy-font-family);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  color: var(--basic-black);
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
}

/* Sort */

.sort-container {
  background-color: var(--basic-light-gray);
}

.sort-title {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
}

.sort-list a {
  font-family: var(--opensans-font-family);
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:focus {
  opacity: 1;
}

.sort-list .sort-button {
  opacity: 0.2;
}

.sort-list .sort-button:hover {
  opacity: 0.4;
}

.sort-list .sort-current,
.sort-list .sort-button:focus {
  opacity: 1;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item-image {
  background-color: var(--basic-light-gray);
}

.catalog-item-name {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-item-price {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.add-to-compare-link {
  font-family: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
  z-index: 100;
}

.add-to-compare-link:hover {
  opacity: 1;
}

.add-to-compare-link:focus {
  opacity: 0.2;
}

/* Не совсем уверен, что это необходимо в данном задании,
но на будущее пробую сделать временный эффект появления кнопок
при наведении на товар каталога. */

.catalog-item {
  position: relative;;
}

.catalog-item-buttons {
  position: absolute;
  top: 180px;
  left: 90px;
  display: none;
  text-align: center;
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item:hover .catalog-item-buttons {
  display: block;
}

/* Pagination */

.pagination-list {
  list-style: none;
  background-color: var(--basic-gray-for-pagination);
}

.pagination-item a {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:focus,
.pagination-item-current a {
  opacity: 1;
}

.pagination-back a,
.pagination-forward a {
  font-family: var(--gilroy-font-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-back a:hover,
.pagination-forward a:hover {
  background-color: var(--basic-dark-gray-for-pagination);
}

.pagination-back a:focus,
.pagination-forward a:focus {
  background-color: var(--basic-dark-gray-for-pagination);
  color: var(--basic-black-transparent-30);
}
